
@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap');


body{
    margin: 0;
    padding: 0;
    
}
.row1{
    position: relative;
    z-index: 1;
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 50px;
    margin-top: 10px;
    text-align: center;
    justify-content: space-between;
    height: 70px;
    width: 1300px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.row1 h2{
    color: #2D3E50;
    margin-left: 10px;
    padding-left: 20px;
}
.col1{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;

}
.col1 a{ 
    margin-left: 40px;
    text-decoration: none;
    color: #616262;
    font-size: 17px;
}
.col1 a:hover{
    color: blue;
    transition: all 1s;
    transform: translateY(-10px);
}
.dropdown{
  display: none;
  position: absolute;
  background-color: rgb(84, 83, 83);
  list-style: none;
  border: 0;
  padding: 0;
  height: 130px;
  width: 110px;
  margin-top: -2px;
  
}
.dropdown li a{
    color: #ffffff;
    font-size: 18px;
    margin: 10px;
    margin-top: 22px;
}
.dropdown li{
    margin-left: 0px;
    margin-top: 10px;

}
.dropdown-container:hover .dropdown{
  display: block;
}
.row1 button{
    border: none;
    background-color:rgb(255, 0, 221);
    border-radius: 10px;
    color: white;
    font-size: 17px;
    height: 45px;
    width: 90px;
    margin-top: 15px;
    margin-right: 20px;
    box-shadow: 0 0 5px rgba(252, 0, 219, 1) ;
}
.row1 button:hover{
  background-color: white;
  color:rgb(255, 0, 221);
  border:1px solid rgb(255, 0, 221); ;
}
.row2 {
   position: relative;
   z-index: -2;
}
#row3{
    display: flex;
    position: relative;
    z-index: 2;
    margin-left: 120px;
    margin-right: 100px;
    margin-top: 70px;
    height: 30rem;
    justify-content: space-between;

} 
#row3 h3{
    color: white;
    
}
#row4{
  position: absolute;
  top: 0px;
  z-index: -2;
}

#row3 h2{
    font-size: 2.5rem;
     color: #2D3E50;
}
#row3 h1{
    font-size: 4rem;
    color: #2D3E50;
}
.col3{
    margin-top: 50px;
    
}
.col3 button{
    height: 35px;
    width: 200px;
    font-size: 17px;
    border: none;
    border-radius: 4px;

} 
.col3 button:last-child{
  background-color:#2D3E50 ;
  color: white;
  margin-left: 15px;
  box-shadow: 0 0 15px #2D3E50;
}
.col3 button:first-child{
    border: 2px solid  rgba(252, 0, 219, 1);  
    color: rgba(252, 0, 219, 1);
    box-shadow: 0 0 15px rgba(252, 0, 219, 1) ;
    
}
.col3 button:first-child:hover{
    color: white;
    background-color:rgba(252, 0, 219, 1) ;
}
.col3 button:last-child:hover{
    color: #2D3E50;
    background-color: white;
}
#iconc :hover{
    color: #2D3E50;
}
     .col4{
        width: 4600px;
     }
     .col4 p{
       margin-top: 30px;
       color: #6f6f70;
     } 
     .col4 h1 span{
         background: linear-gradient(90deg,rgba(252, 0, 219, 1) 0%, rgba(83, 93, 237, 1) 100%);
            -webkit-background-clip: text;
           background-clip: text;
           -webkit-text-fill-color: transparent;
           color: transparent;
     }
    .col5{
        margin-left: 20px;
        border-radius: 80% 83% 74% 75%;
        box-shadow: 0 0 15px rgba(252, 0, 219, 1) ;
        background: linear-gradient(90deg,rgba(252, 0, 219, 1) 0%, rgba(83, 93, 237, 1) 100%);
      }
     .col5 img{
        border-radius: 80%;
        background: linear-gradient(90deg,rgba(252, 0, 219, 1) 0%, rgba(83, 93, 237, 1) 100%);
     }
     
/* ✅ Responsive Design Section */

/* ---- Base (Desktop Default) ---- */


/* ---- Large Screens (≥1200px) ---- */
@media (min-width: 1200px) {
  #row3 {
    flex-direction: row;
    align-items: center;
  }
  .col4 {
    width: 50%;
  }
  .col5 {
    justify-content: center;
    
    border-radius: 85%;
  }
  .col5 img {
    height: 500px;
    width: 550px;
  }
}

/* ---- Laptops & Tablets (768px–1199px) ---- */
@media (max-width: 1199px) {
  .row1 {
    width: 90%;
    margin: 10px auto;
    flex-wrap: wrap;
    height: auto;
  }

  .col1 a {
    margin-left: 20px;
    font-size: 16px;
  }

  #row3 {
    margin: 40px 50px;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    height: auto;
  }

  .col4 {
    width: 90%;
  }

  .col5 {
    margin-top: 30px;
    width: 80%;
  }

  .col5 img {
    height: 400px;
    width: 400px;
  }

  .col3 {
    margin-top: 30px;
  }

  .col3 button {
    width: 180px;
    font-size: 15px;
  }
}

/* ---- Mobile (≤767px) ---- */
@media (max-width: 767px) {
  .row1 {
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: auto;
    padding: 10px 0;
  }

  .row1 h2 {
    margin: 10px 0;
    font-size: 24px;
  }

  .col1 {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }

  .col1 a {
    margin: 10px 0;
    font-size: 18px;
  }

  .row1 button {
    margin-top: 10px;
    width: 120px;
  }

  #row3 {
    flex-direction: column-reverse;
    align-items: center;
    margin: 20px;
    text-align: center;
  }

  .col4 h1 {
    font-size: 2.2rem;
  }

  .col4 h2 {
    font-size: 1.5rem;
  }

  .col4 p {
    font-size: 16px;
    line-height: 1.5;
  }

  .col5 img {
    height: 280px;
    width: 280px;
  }

  .col3 button {
    width: 160px;
    height: 40px;
    font-size: 15px;
    margin-top: 10px;
  }

  .dropdown {
    position: static;
    background: none;
    display: block;
    height: auto;
    width: auto;
  }

  .dropdown li {
    margin: 5px 0;
  }
}
